version: "3.2"
services:
  app:
    restart: always
    image: flutter_development_dev
    environment:
      PUB_CACHE: /usr/src/app/.pub-cache
      ADB_SERVER_SOCKET: tcp:host.docker.internal:5037
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    tty: true
    stdin_open: true
    command: sh -c "socat tcp-listen:30000,bind=127.0.0.1,fork tcp:host.docker.internal:30000 & bash"

# Workaround for using host device/emulator on MacOS from container (because docker cant't mount usb on MacOS)
#
# On host
# Connect device to usb 
#
# In container
# Setup ADB_SERVER_SOCKET=tcp:host.docker.internal:5037 variable to use host adb server
#
# Proxy any container port to host port (in example port 30000)
# socat tcp-listen:30000,bind=127.0.0.1,fork tcp:host.docker.internal:30000
# 
# Run flutter app wih --host-vmservice-port (and --dds-port for flutter > 1.22)
# flutter run --host-vmservice-port=30000 --dds-port=30001 --no-devtools --verbose
# 
# flutter build apk --target-platform=android-arm64
# 
# Run app in development container
# docker-compose -f ../../scripts/docker-compose.flutter_development.yml --project-directory="$PWD" up --detach
